# Dependencies
node_modules/

# Build
dist/
*.tsbuildinfo

# Env
.env
.env.local

# Logs / OS
*.log
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Optional (AL / other)
.alcache/
.alpackages/
.snapshots/
.output/
*.app
rad.json
*.g.xlf
*.flf
TestResults.xml